/*
Note: I place a lot of comments for debugging purposes, you can ignore those
The commented borders are also for debugging as well
*/

/*============= Global properties =============*/
@font-face {
  font-family: Stellar-Light;
  src: url('../fonts/Stellar-light.otf') format('opentype');
}
body {
  /*border: 1px solid red;*/
  font-family: Stellar-Light;
  letter-spacing: 0.2em;
  background-color: #36f;
  color: white;
}
/*Changing a bit of bootstrap to suit my style*/
.btn {
  border: none;
}
.form-control {
  border: none;
}

/*
  To center a div:
    1) Set a width and set margin to 0 auto
      - What if I want my width to be just big enough to contain contents? inline-block
    2) Set display to inline-block and set parent to text-align center
      - What if I don't want my div to be inline? Turns out theres another width value called max-content
    3) Set width to max-content and set margin to 0 auto
*/
/*============= Header properties =============*/
header {
  /*border: 1px solid blue;*/
  margin: 10px 0;
}
header > * {
  width: max-content;
  margin: 0 auto;
  padding-bottom: 5px;
}

/*============= Main content properties =============*/
main {
  /*border: 1px solid blue;*/
  margin: 10px 0;
}
/*___ Qanda form properties ___*/
#qanda-form {
  /*border: 1px solid blue;*/
  width: 50%;
  max-width: 600px;
  min-width: 280px;
  margin: 0 auto;
}
#qanda-form > * {
  margin-bottom: 3px;
}
#clear-button {
  float: right;
  margin-right: 3px;
}
#submit-button {
  float: right;
}

/*___ Qanda list header properties ___*/
#list-header {
  text-align: center;
  width: max-content;
  margin: 70px auto 20px auto;
}
#list-header > span {
  /*This is used on a span, so I can't use width / margin, I have to use text-align: center*/
  font-size: 18px;
  margin-bottom: 10px;
  display: block;
}
/*
Two ways of centering a bunch of elements in a row

1) Use float: left on all of the elements except the last. Set % widths that add up to 100, and they should be centered. Otherwise,
there will be a gap(s) in the middle.

2) (This option is better because it allows for different sized widths that don't have to add up to 100%)
You could have fixed / % widths and the parent text-align: center
If you have divs, just use inline-block. However, using inline-blocks has the inconvenient consequence of those pesky spaces
in between divs. There are multiple ways of getting rid of those(https://css-tricks.com/fighting-the-space-between-inline-block-elements/).
I chose to put comments in the html
*/
#list-search {
  -webkit-box-sizing: border-box;
  /* For playing around with the float method
  width: 65%;
  float: left;
  */
  width: 65%;
  display: inline-block;
  padding-left: 10px;

  /*Since bootstrap rounds their edges on inputs*/
  /*I set the right side radius to be 0 and the style to be none to merge with the
  second input box*/
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right-style: none;
  /*What does !important do? it doesn't allow this property to be overriden(unless the overrider sets their property to !important)
  and when should you use it? You should use it only when you want an element to maintain its characteristics.*/
  height: 33px; /* When the heights of search / ordering are low enough, they get misaligned when you zoom out far enough */
}
#list-ordering {
  -webkit-box-sizing: border-box;
  /* For playing around with the float method
  width: 10%;
  float: right;
  Dont forget if the width is too high, the last div'll drop down */
  width: 35%;
  display: inline-block;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 33px; /* Set this equal to qa-list-search height */
}
/*___ Qanda list properties ___*/
#list {
  width: 100%;
  margin: 0 auto;
  list-style-type: none; /* To get rid of bullet points */
  padding-left: 0; /*To get rid of automatic ul left padding*/
  font-size: 14px;
  min-width: 280px;
  max-width: 700px;
}
#list-empty {
  text-align: center;
}
#list > li {
  margin-bottom: 20px;
  position: relative;
  background-color: #4770eb;
  border-radius: 30px;
  padding: 10px 0;
}
#list > li:hover .qanda-edit, #list > li:hover .qanda-delete {
  display: block;
}
/*
To get a centered div, div1, and a div positioned relative to that, div2
you need to set both divs to be inline-block. Center div1 by setting the container
to have text-align: center(Set the children to text-align: left if necessary).
Make div2 position: relative. Don't give div2 a width / height because that
messes up the centering calculations. If you want div2 to be aligned to the top
of div1, then set vertical-align: top.
*/
/*
Fill rest of space[http://stackoverflow.com/questions/1260122/expand-a-div-to-take-the-remaining-width]
doesn't work, idk why.

In other websites, the ng-show'n element is placed absolutely to the right. That's
another solution. Remember that the parent must have relative positioning.
Also, remember that .qa-list-item-qanda should have padding to the right to fit the X mark

If I want two divs as a unit centered, with fixed space on the right
, where the first div takes up the rest of the space, then i don't set width on first,
set margin-right, and absolutely place the second in the first's margin space
*/
.qanda-wrapper {
  box-sizing: border-box;
  margin-right: 60px;
  margin-left: 30px;
}
#list > li.unanswered-qanda {
  background-color: #ff4d94;
}
.qanda-delete {
  display: none;
  width: 60px;
  position: absolute;
  font-size: 25px;
  height: 100%;
  top: 15px;
  right: 0;
  color: #36f;
  text-align: center;
}
.qanda-edit:hover, .qanda-delete:hover,
.qanda-edit:visited, .qanda-delete:visited,
.qanda-edit:active, .qanda-delete:active,
.qanda-edit:focus, .qanda-delete:focus {
  text-decoration: none;
  color: #36f;
}
