<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> <!-- Allows proper rendering and touch zooming for mobile devices -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" href="css/app.css" type="text/css">
    <link rel="stylesheet" href="css/icomoon.css" type="text/css">
    <style>[ng-cloak] { display: none; }</style> <!-- Necessary for cloaking -->
    <title>QANDA</title>

  </head>
  <!-- ng-strict-di to force me to use the array notation for injection -->
  <body ng-app="qandaApp" ng-strict-di>

    <!-- Header -->
    <!-- TODO: I want a fixed header with shadowing at the bottom of the header maybe. I want a hamburger menu on the top right -->
    <header>
      <h1>QANDA</h1>
      <!-- hidden-sm-down makes this element invisible for devices sized small and under, Bootstrap is very good at showing/hiding stuff for differently sized screens, unlike Angular. Angular is more suitable for event-based action -->
      <h5 class="hidden-sm-down">Ask and answer your own questions</h5>
    </header>

    <!-- Body -->
    <main class="container-fluid" ng-controller="qandaController">
      <!-- Question prompt -->
      <!-- Should I use ngSubmit(requiring form) or ngClick(just button) here? -->
      <!-- Btw ngSubmit prevents the form from having its intended behavior of sending a request to the server when ngSubmit is used(unless you set an action attribute) -->
      <!-- And also, if you need to have more than one button within a form, for example a button to reset the form, you need to set the reset button to have type="button" because by default it will have type="submit" to submit the form. -->
      <!-- By giving this form a name, you are creating a FormController that has an object of the set name that tells you the state of the form -->
      <form id="qanda-form" name="form" class="form-group" ng-submit="addQanda()">
        <input type="text" class="form-control" placeholder="Enter a new question..." ng-model="newQuestion" required></input>
        <textarea class="form-control" rows="3" placeholder="Enter a new answer..." ng-model="newAnswer"></textarea>
        <!-- I can use ng-disabled but the issue is that my button will be enabled for a sec and then become disabled. To fix this, I use ng-cloak -->
        <!-- Alternatively, instead of using ng-disabled, I can use the bootstrap defined disabled class along with ng-class to set a default disabled state to this button. Otherwise, the button will blink as enabled for a sec. -->
        <button id="submit-button" type="submit" class="btn btn-secondary center-block disabled" ng-class="{disabled: form.$invalid}">Enter</button>
        <button id="clear-button" type="button" class="btn btn-secondary center-block" ng-click="clearContents()">Reset</button>
      </form>

      <!-- List title / Search bar / Filter bar -->
      <section id="list-header">
        <!-- Again, I have the option to use a form, but it's just sensible to use ngClick -->
        <span>List of Q&ampA's</span>
        <!-- I should create some kind of Filter component since the way this is designed only makes sense in a bundle -->
        <input id="list-search" type="search" ng-model="query" class="form-control" placeholder="Search..."/><!-- This is here to get rid of the display: inline-block space
     --><select id="list-ordering" ng-model="ordering" class="form-control">
          <option value="question">A-Z</option>
          <option value="-question">Z-A</option>
        </select>
      </section>

      <!-- List of questions -->
      <ul id="list">
        <!-- List item -->
        <p ng-if="qas.length == 0" id="list-empty" ng-bind-template="No Q&A's have been made"></p>
        <li ng-if="qas.length != 0" ng-repeat="qa in qas | filter : query | orderBy : ordering" ng-class="{'unanswered-qanda': qa.unanswered()}" ng-cloak>
          <div class="qanda-wrapper">
            <div>
              <!-- Kept separate to make protractor tests a bit more sensible -->
              <b ng-bind-template="Question: "></b>
              <p ng-bind-template="{{qa.question}}"></p>
            </div>
            <div ng-hide="qa.unanswered()">
              <b ng-bind-template="Answer: "></b>
              <p ng-bind-template="{{qa.answer}}"></p>
            </div>
            <div ng-show="qa.unanswered()">
              <b ng-bind-template="Unanswered"></b>
            </div>
          </div>
          <!-- For simple things like hovers, don't use ng-show, use css(As a rule, if you can
           use css over angular, do it) -->
          <a class="qanda-delete icon icon-cross" href="" ng-click"deleteQanda(qa)"></a>
        </li>
      </ul>
      <!-- Footer -->
      <section>
      </section>
    </main>

    <!-- Bootstrap & Angular -->
    <script src="../bower_components/angular/angular.js"></script>
    <script src="js/app.module.js"></script> <!-- This needs to be loaded first to register the module -->
    <script src="js/controllers.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script> <!-- Need this; bootstrap complains if it doesn't have tether -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
    <!-- Auto refresh atom plugin -->
    <script src="http://localhost:35729/livereload.js"></script>
  </body>
</html>
